#message {
    width:fit-content;
}
#messageBox{
    width:80%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -150px)
}
#sendButton {
    position:absolute;
    top: 100%;
    left: 50%;
    transform: translate(30px, -40px)
}
#lookButton {
    position:absolute;
    top: 100%;
    left: 50%;
    transform: translate(-130px, -38px)
}
#messagePartner {
    z-index: 10;
}
#partyAbstractFukidasi {
    display:none;
    position: absolute;
}
#partyAbstract:hover + #partyAbstractFukidasi{
    display:block;
}
